section.file{
    padding: 2vh 2vw;
    /* background-color:blue; */
    margin-bottom: 2vh;
    box-shadow: 0px 5px 10px rgba(179,179,179,1);
}
article.shadow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
p.boldBlue{
    font-weight: 500;
    color: #0c4261;
}
div.ranking, div.adress, div.phone, div.euro{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5vh 0;
}
img.iconRestaurant{
    width: 15px;
    margin: 2px;
}
img.iconStar{
    width: 95px;
    margin-left: 25px;
}
div.content div p{
    margin-left: 10px;
}
img.go{
    width: 65px;
    margin: 5px;
    margin-top: 60px;
}
img.go:hover{
    width: 70px;
}
section.fileMap{
    padding: 2vh 2vw;
    /* background-color:blue; */
    margin-bottom: 11.5vh;
    box-shadow: 0px 5px 10px rgba(179,179,179,1);
}