.leaflet-container{
    width: 100%;
    height: 70vh;
    margin: 0;
    padding: 0;
}
section.popupcontent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 10px;
    margin: 0;
}
article.rankingprice{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 0;
}
article.name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0;
}
p.dishName{
    text-align: left;
    font-weight: 700;
    color: #0c4261;
    margin: 0 0;
}
p.rankingName{
    margin: 0 0;
}
p.priceName{
    margin: 0 0;
    font-weight: 700;
    color: #0c4261;
}
div.restaurant{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
div.divphone{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 25px 0 25px;
    margin-top: 0;
}
p.restaurantName{
    margin:0;
}
p.phone{
    margin:0;
}
.leaflet-routing-alt{
    display: none;
    background-color: white;
}
button.goMap{
    border: 0px;
    /* opacity: 0; */
    background-color: white;
    margin-left: 100px;
    padding: 0;
}
button.goMap:active{
    border-color: white;
}
img.iconGo{
    width: 30px;
    
}
div.leaflet-popup-content-wrapper{
    margin:0;
    padding:1px;
}